@inherits LayoutComponentBase

<div class="page">
    <div >
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4" style="background-color: grey;">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">Username</a>
        </div>

        <article class="content px-4" style="background-color:mediumpurple;">
            @Body
        </article>
    </main>

    <div class="nav-sc"></div>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
